node_modules/
packages/*/node_modules/
packages/*/dist/
demo/node_modules/
demo/dist/
android/Demo/.gradle/
android/Demo/build/
android/Demo/app/build/
android/Demo/local.properties
packages/runtime/android/**/build/
plugins/gradle-lynx-capacitor/.gradle/
plugins/gradle-lynx-capacitor/build/
ios/Demo/Pods/
ios/Demo/build/
ios/Demo/generated/
ios/Demo/LynxCapacitorDemo.xcodeproj/
ios/Demo/LynxCapacitorDemo.xcworkspace/
ios/Demo/Podfile.lock
ios/Demo/LynxCapacitorDemo/Resource/main.lynxbin
*.xcuserstate
.DS_Store
ios/Demo/.bundle/
ios/Demo/vendor/
ios/Demo/Gemfile.lock
