<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Lynx Capacitor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.lynxcapacitor.demo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lynxcapacitor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Test the Capacitor Camera and Barcode Scanner plugins.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Test reading and managing events with the Capacitor Calendar plugin.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Test reading and managing events with the Capacitor Calendar plugin.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Test creating events with the Capacitor Calendar plugin.</string>
	<key>NSContactsUsageDescription</key>
	<string>Test searching and managing contacts with the Capacitor Contacts plugin.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Test the Capacitor Geolocation and Google Maps plugins.</string>
	<key>NSMotionUsageDescription</key>
	<string>Test the Capacitor Motion plugin.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos created by the Capacitor Camera plugin.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Test the Capacitor Camera plugin.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
